<button appSsrButton>Log in</button>

<button appSsrButton (click)="onToggleButtonClick()">
  Toggle content which also has a button.
</button>

<p>This content might be visible by default based on stored user preference.
  So that button should also behave the same way.</p>
<seciton *ngIf="showSection">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Corrupti sequi incidunt tempora consequatur eum consequuntur dolores magni doloribus porro.
    Dolorem est distinctio neque aspernatur optio, deleniti explicabo. Rerum, laboriosam cum!</p>
  <button appSsrButton>Nested button</button>
</seciton>